div.modal.fade(id='runModal', tabindex='-1', role='dialog', ng-controller='runCtrl')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title {{ run.name }}
      div.modal-body
         div.progress
           div.progress-bar.progress-bar-striped(role='progressbar' aria-valuenow='{{run.currSeconds}}' aria-value-min='0' aria-valuemax='{{run.totalSeconds}}' style='width:{{run.percent}}%')
             | {{run.timeLeft}}

         div.row.run-sets
           div.text-muted.prev-set.col-md-4 {{run.sets.prev}}
           div.curr-set.col-md-4 {{run.sets.curr}}
           div.text-muted.next-set.col-md-4 {{run.sets.next}}

         div.row.run-actions
           div.text-muted.prev-action.col-md-4 {{run.actions.prev}}
           div.curr-action.col-md-4 {{run.actions.curr}}
           div.text-muted.next-action.col-md-4 {{run.actions.next}}

         div.runCounter
           div.runCountdown
             | {{run.countDown}}

           div.runRound
            | Round {{run.currentRound}}/{{run.totalRounds}}

           div.runSetTimeLeft
            | Set time left: {{run.setTimeLeft}}

      div.modal-footer
        div.row
          div.col-md-8
            button.btn.btn-default(type='button', ng-click='startRun()') 
              span.glyphicon.glyphicon-play(aria-hidden='true')
            button.btn.btn-default(type='button', ng-click='stopRun()') 
              span.glyphicon.glyphicon-stop(aria-hidden='true')
          div.col-md-4
            button.btn.btn-default(type='button', ng-click='stepForward()') 
              span.glyphicon.glyphicon-step-forward(aria-hidden='true')
