extends layout

block content

  div.container(ng-app="hiitTimerApp", ng-controller="hiitEditorCtrl")

    div.page-header
      h1 HIIT Generator 
        small Sets and Workout Editor

    mixin modalDialog(dialogId, title, text, action, actionText)
      div.modal.fade(id=dialogId, tabindex="-1", role="dialog")
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title= title
            div.modal-body= text
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") Cancel
              button.btn.btn-primary(type="button", ng-click=action, data-dismiss="modal")= actionText

    +modalDialog("deleteSetModal", "Delete Set", "Are you sure you want to delete the set {{currentSet.name}}?", "deleteSet(currentSet.index);", "Delete Set")
    +modalDialog("deleteWorkoutModal", "Delete Workout", "Are you sure you want to delete the workout {{currentWorkout.name}}?", "deleteSet(currentWorkout.index);", "Delete Workout")

    p Edit and generate sets and workouts for the 
      a(href="https://play.google.com/store/apps/details?id=com.pimpimmobile.atimer", target="_blank") A HIIT Interval Timer
      |  Android application.

    div.btn-group.btn-group-lg(role="group")
      button.btn.btn-primary(type="button", ng-click="showSets()")
        | Sets 
        span.badge {{hiit.sets.length}}
      button.btn.btn-primary(type="button", ng-click="showWorkouts()")
        | Workouts 
        span.badge {{hiit.workouts.length}}

    div.btn-group.pull-right(role="group")
      button.btn.btn-default(type="button", ng-click="loadHiit()")
        | Load
      button.btn.btn-primary(type="button", ng-click="saveHiit()")
        | Save

      button.btn.btn-default(type="button", disabled, uib-tooltip="Not ready yet!")
        | Import HIIT Sets
      button.btn.btn-default(type="button", ng-click="exportHiit()", target="_blank")
        | Export HIIT Sets

    div(ng-show="modeWorkout")
      h2 Workouts
      div.row.menu-row
        button.set-add.btn.btn-default(type='button', aria-label='Create Workout', ng-click="addWorkout()")
          span.glyphicon.glyphicon-plus(aria-hidden="true")
          | Create Workout

      div.list-group.workout-list
        div.workout.list-group-item.clearfix(ng-repeat="workout in hiit.workouts", ng-click="showWorkout(workout, $index)")
           h4.workout.list-group-item-heading {{workout.name}}
           p.list-group-item-text
             span.workout-actions {{workout.sets.length}}
             |  sets 
             span.badge.workout-duration {{workoutDuration(workout)}}

           span.pull-right
             button.workout-delete.btn.btn-default(type='button', aria-label='Delete Workout', data-toggle="modal", data-target="#deleteWorkoutModal")
               span.glyphicon.glyphicon-remove(aria-hidden="true")

    h2 Sets

    div.row.menu-row
      button.set-add.btn.btn-default(type='button', aria-label='Create Set', ng-click="addSet()")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
        | Create Set

    div.list-group.set-list
      div.set.list-group-item.clearfix(ng-repeat="set in displayedSets", ng-click="showSet(set, $index)")
         h4.set-name.list-group-item-heading {{set.name}}
         p.list-group-item-text
           span.set-actions {{set.actions.length}}
           |  actions, 
           span.set-reps {{set.repetitions}}
           |  rounds 
           span.badge.set-duration {{setDuration(set)}}

         span.pull-right
           button.set-delete.btn.btn-default(type='button', aria-label='Delete Set', data-toggle="modal", data-target="#deleteSetModal")
             span.glyphicon.glyphicon-remove(aria-hidden="true")

    form#set-editor(ng-show="currentSet")
       h2 Edit Set
       div.row
         div.form-group.col-md-10
           label(for='setName') Name
           input.form-control(id="setName", name='setName', ng-model="currentSet.name", type='text', placeholder='Set Name')
         div.form-group.col-md-2
           label(for='setRepetitions') Rounds
           input.form-control(id="setRepetitions", name='setRepetitions', ng-model="currentSet.repetitions", type='text', placeholder='Number of Repetitions')

       div#actions(html-sortable="", ng-model="currentSet.actions", html-sortable-callback="sortableCallback(sourceModel, destModel, start, end)")
         div.row.action-row(ng-repeat="action in currentSet.actions")
           span.action-delete.pull-right.glyphicon.glyphicon-remove(aria-hidden="true", title="Delete Action", ng-click="deleteAction(action, $index); $event.stopPropagation()")
           div.form-group.col-md-7
             label.sr-only(for='actionName') Name
             input.form-control(name='actionName', type='text', ng-model="action.name", placeholder='Action Name')
           div.form-group.col-md-2
             label.sr-only(for='actionColors') Color
             input.form-control.input-group(colorpicker="hex", ng-model="action.color", colorpicker-parent="true", name='actionColor', type='text', placeholder="Color")
           div.form-group.col-md-2
             label.sr-only(for='actionTime') Time
             input.form-control(name='actionTime', type='text', ng-model="action.time", pattern="([0-9]{1,}:)?[0-9]{1,}", title="mm:ss", placeholder='Minutes:Seconds')

       div.row.menu-row
         button.action-add.btn.btn-default.navbar-right(type='button', aria-label='Add New Action', ng-click="addAction()")
           span.glyphicon.glyphicon-plus(aria-hidden="true")
           | Add New Action

