doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title HIIT Generator

    // Stylesheets
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/css/colorpicker.css')
    link(rel='stylesheet', href='/css/style.css')

    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-local-storage.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/ui-bootstrap.js')
    script(src='/js/bootstrap-colorpicker-module.min.js')
    script(src='/js/html.sortable.min.js')
    script(src='/js/html.sortable.angular.min.js')
    script(src='/js/hiit-angular.js')
  body
    block content
